Client/client
Client/getgold.exe
Client/upimg
Client/upimga
Client/upimg.exe
upimg/
watchimg/dist
watchimg/node_modules
server
worldimg.tar
Client/*.jpg
Client/*.tif
rundocker.sh
test/
up.zip
data
server_docker
wordsql.tar
.token
.vueBak
upimg.zip