Client/client
Client/getgold.exe
Client/upimg
Client/upimga
Client/upimg.exe
upimg/
watchimg/dist
watchimg/node_modules
server
worldimg.tar
Client/S41KJ16V.jpg
rundocker.sh
test/
Client/F33BA94E.jpg
Client/M25YW30Y.jpg
Client/S71XP46A.jpg
up.zip